In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('bhavdata.csv')
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.00,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.10,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.00,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34845,OPTSTK,ZEEL,29-Oct-2020,190.0,PE,0.00,0.00,0.00,58.40,45.40,0,0.00,0,0,10-AUG-2020,NaN
34846,OPTSTK,ZEEL,29-Oct-2020,195.0,PE,0.00,0.00,0.00,62.45,49.40,0,0.00,0,0,10-AUG-2020,NaN
34847,OPTSTK,ZEEL,29-Oct-2020,200.0,PE,0.00,0.00,0.00,66.60,53.50,0,0.00,0,0,10-AUG-2020,NaN
34848,OPTSTK,ZEEL,29-Oct-2020,205.0,PE,0.00,0.00,0.00,70.80,57.70,0,0.00,0,0,10-AUG-2020,NaN
34849,OPTSTK,ZEEL,29-Oct-2020,210.0,PE,0.00,0.00,0.00,75.05,61.95,0,0.00,0,0,10-AUG-2020,NaN

In [3]:
df.shape

(34850, 16)

In [4]:
df1 = df[df['INSTRUMENT'].str.contains('OPTSTK')]
df1

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
4180,OPTSTK,ACC,27-Aug-2020,800.0,CE,0.0,0.0,0.0,489.50,601.85,0,0.0,0,0,10-AUG-2020,NaN
4181,OPTSTK,ACC,27-Aug-2020,820.0,CE,0.0,0.0,0.0,471.40,581.85,0,0.0,0,0,10-AUG-2020,NaN
4182,OPTSTK,ACC,27-Aug-2020,840.0,CE,0.0,0.0,0.0,453.60,561.90,0,0.0,0,0,10-AUG-2020,NaN
4183,OPTSTK,ACC,27-Aug-2020,860.0,CE,0.0,0.0,0.0,436.05,541.95,0,0.0,0,0,10-AUG-2020,NaN
4184,OPTSTK,ACC,27-Aug-2020,880.0,CE,0.0,0.0,0.0,418.80,522.00,0,0.0,0,0,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34845,OPTSTK,ZEEL,29-Oct-2020,190.0,PE,0.0,0.0,0.0,58.40,45.40,0,0.0,0,0,10-AUG-2020,NaN
34846,OPTSTK,ZEEL,29-Oct-2020,195.0,PE,0.0,0.0,0.0,62.45,49.40,0,0.0,0,0,10-AUG-2020,NaN
34847,OPTSTK,ZEEL,29-Oct-2020,200.0,PE,0.0,0.0,0.0,66.60,53.50,0,0.0,0,0,10-AUG-2020,NaN
34848,OPTSTK,ZEEL,29-Oct-2020,205.0,PE,0.0,0.0,0.0,70.80,57.70,0,0.0,0,0,10-AUG-2020,NaN
34849,OPTSTK,ZEEL,29-Oct-2020,210.0,PE,0.0,0.0,0.0,75.05,61.95,0,0.0,0,0,10-AUG-2020,NaN

In [5]:
multisymbols = [
    'ACC',
    'ADANIENT',
    'ADANIPORTS',
    'AMARAJABAT',
    'AMBUJACEM',
    'APOLLOHOSP',
    'APOLLOTYRE',
    'ASHOKLEY',
    'ASIANPAINT',
    'AUROPHARMA',
    'AXISBANK',
    'BAJAJ-AUTO',
    'BAJAJFINSV',
    'BAJFINANCE',
    'BALKRISIND',
    'BANDHANBNK',
    'BANKBARODA',
    'BATAINDIA',
    'BEL',
    'BERGEPAINT',
    'BHARATFORG',
    'BHARTIARTL',
    'BHEL',
    'BIOCON',
    'BOSCHLTD',
    'BPCL',
    'BRITANNIA',
    'CADILAHC',
    'CANBK',
    'CENTURYTEX',
    'CHOLAFIN',
    'CIPLA',
    'COALINDIA',
    'COLPAL',
    'CONCOR',
    'CUMMINSIND',
    'DABUR',
    'DIVISLAB',
    'DLF',
    'DRREDDY',
    'EICHERMOT',
    'EQUITAS',
    'ESCORTS',
    'EXIDEIND',
    'FEDERALBNK',
    'GAIL',
    'GLENMARK',
    'GMRINFRA',
    'GODREJCP',
    'GODREJPROP',
    'GRASIM',
    'HAVELLS',
    'HCLTECH',
    'HDFC',
    'HDFCBANK',
    'HDFCLIFE',
    'HEROMOTOCO',
    'HINDALCO',
    'HINDPETRO',
    'HINDUNILVR',
    'IBULHSGFIN',
    'ICICIBANK',
    'ICICIPRULI',
    'IDEA',
    'IDFCFIRSTB',
    'IGL',
    'INDIGO',
    'INDUSINDBK',
    'INFRATEL',
    'INFY',
    'IOC',
    'ITC',
    'JINDALSTEL',
    'JSWSTEEL',
    'JUBLFOOD',
    'KOTAKBANK',
    'L&TFH',
    'LICHSGFIN',
    'LT',
    'LUPIN',
    'M&M',
    'M&MFIN',
    'MANAPPURAM',
    'MARICO',
    'MARUTI',
    'MCDOWELL-N',
    'MFSL',
    'MGL',
    'MINDTREE',
    'MOTHERSUMI',
    'MRF',
    'MUTHOOTFIN',
    'NATIONALUM',
    'NAUKRI',
    'NESTLEIND',
    'NIITTECH',
    'NMDC',
    'NTPC',
    'ONGC',
    'PAGEIND',
    'PEL',
    'PETRONET',
    'PFC',
    'PIDILITIND',
    'PNB',
    'POWERGRID',
    'PVR',
    'RAMCOCEM',
    'RBLBANK',
    'RECLTD',
    'RELIANCE',
    'SAIL',
    'SBILIFE',
    'SBIN',
    'SHREECEM',
    'SEIMENS',
    'SRF',
    'SRTRANSFIN',
    'SUNPHARMA',
    'SUNTV',
    'TATACHEM',
    'TATACONSUM',
    'TATAMOTORS',
    'TATAPOWER',
    'TATASTEEL',
    'TCS',
    'TECHM',
    'TITAN',
    'TORNTPHARM',
    'TORNTPOWER',
    'TVSMOTOR',
    'UBL',
    'UJJIVAN',
    'ULTRACEMCO',
    'UPL',
    'VEDL',
    'VOLTAS',
    'WIPRO',
    'ZEEL' 
    ]
df2 = df1[df['SYMBOL'].isin(multisymbols)]
df2

<ipython-input-5-a3f2579ea4a1>:142: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df1[df['SYMBOL'].isin(multisymbols)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
4180,OPTSTK,ACC,27-Aug-2020,800.0,CE,0.0,0.0,0.0,489.50,601.85,0,0.0,0,0,10-AUG-2020,NaN
4181,OPTSTK,ACC,27-Aug-2020,820.0,CE,0.0,0.0,0.0,471.40,581.85,0,0.0,0,0,10-AUG-2020,NaN
4182,OPTSTK,ACC,27-Aug-2020,840.0,CE,0.0,0.0,0.0,453.60,561.90,0,0.0,0,0,10-AUG-2020,NaN
4183,OPTSTK,ACC,27-Aug-2020,860.0,CE,0.0,0.0,0.0,436.05,541.95,0,0.0,0,0,10-AUG-2020,NaN
4184,OPTSTK,ACC,27-Aug-2020,880.0,CE,0.0,0.0,0.0,418.80,522.00,0,0.0,0,0,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34845,OPTSTK,ZEEL,29-Oct-2020,190.0,PE,0.0,0.0,0.0,58.40,45.40,0,0.0,0,0,10-AUG-2020,NaN
34846,OPTSTK,ZEEL,29-Oct-2020,195.0,PE,0.0,0.0,0.0,62.45,49.40,0,0.0,0,0,10-AUG-2020,NaN
34847,OPTSTK,ZEEL,29-Oct-2020,200.0,PE,0.0,0.0,0.0,66.60,53.50,0,0.0,0,0,10-AUG-2020,NaN
34848,OPTSTK,ZEEL,29-Oct-2020,205.0,PE,0.0,0.0,0.0,70.80,57.70,0,0.0,0,0,10-AUG-2020,NaN
34849,OPTSTK,ZEEL,29-Oct-2020,210.0,PE,0.0,0.0,0.0,75.05,61.95,0,0.0,0,0,10-AUG-2020,NaN

In [6]:
#Change according to liking
#Get a single date or a specific date
dates = ["27-Aug-2020"] 
df3 = df2[df['EXPIRY_DT'].isin(dates)]
df3

<ipython-input-6-92cf25ff67a9>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[df['EXPIRY_DT'].isin(dates)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
4180,OPTSTK,ACC,27-Aug-2020,800.0,CE,0.0,0.0,0.0,489.50,601.85,0,0.0,0,0,10-AUG-2020,NaN
4181,OPTSTK,ACC,27-Aug-2020,820.0,CE,0.0,0.0,0.0,471.40,581.85,0,0.0,0,0,10-AUG-2020,NaN
4182,OPTSTK,ACC,27-Aug-2020,840.0,CE,0.0,0.0,0.0,453.60,561.90,0,0.0,0,0,10-AUG-2020,NaN
4183,OPTSTK,ACC,27-Aug-2020,860.0,CE,0.0,0.0,0.0,436.05,541.95,0,0.0,0,0,10-AUG-2020,NaN
4184,OPTSTK,ACC,27-Aug-2020,880.0,CE,0.0,0.0,0.0,418.80,522.00,0,0.0,0,0,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34741,OPTSTK,ZEEL,27-Aug-2020,220.0,PE,0.0,0.0,0.0,74.65,68.45,0,0.0,15000,0,10-AUG-2020,NaN
34742,OPTSTK,ZEEL,27-Aug-2020,225.0,PE,0.0,0.0,0.0,64.10,73.40,0,0.0,0,0,10-AUG-2020,NaN
34743,OPTSTK,ZEEL,27-Aug-2020,230.0,PE,0.0,0.0,0.0,86.50,78.35,0,0.0,21000,0,10-AUG-2020,NaN
34744,OPTSTK,ZEEL,27-Aug-2020,235.0,PE,0.0,0.0,0.0,71.65,83.35,0,0.0,0,0,10-AUG-2020,NaN
34745,OPTSTK,ZEEL,27-Aug-2020,240.0,PE,0.0,0.0,0.0,75.50,88.35,0,0.0,0,0,10-AUG-2020,NaN

In [7]:
#Filters out all the Values of only PE
df4 = df3[df['OPTION_TYP'].str.contains("PE")]
df4

<ipython-input-7-67b23108180e>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df4 = df3[df['OPTION_TYP'].str.contains("PE")]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
4225,OPTSTK,ACC,27-Aug-2020,800.0,PE,0.0,0.0,0.0,7.60,0.05,0,0.0,0,0,10-AUG-2020,NaN
4226,OPTSTK,ACC,27-Aug-2020,820.0,PE,0.0,0.0,0.0,9.25,0.05,0,0.0,0,0,10-AUG-2020,NaN
4227,OPTSTK,ACC,27-Aug-2020,840.0,PE,0.0,0.0,0.0,11.20,0.05,0,0.0,0,0,10-AUG-2020,NaN
4228,OPTSTK,ACC,27-Aug-2020,860.0,PE,0.0,0.0,0.0,13.40,0.05,0,0.0,0,0,10-AUG-2020,NaN
4229,OPTSTK,ACC,27-Aug-2020,880.0,PE,0.0,0.0,0.0,15.90,0.05,0,0.0,0,0,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34741,OPTSTK,ZEEL,27-Aug-2020,220.0,PE,0.0,0.0,0.0,74.65,68.45,0,0.0,15000,0,10-AUG-2020,NaN
34742,OPTSTK,ZEEL,27-Aug-2020,225.0,PE,0.0,0.0,0.0,64.10,73.40,0,0.0,0,0,10-AUG-2020,NaN
34743,OPTSTK,ZEEL,27-Aug-2020,230.0,PE,0.0,0.0,0.0,86.50,78.35,0,0.0,21000,0,10-AUG-2020,NaN
34744,OPTSTK,ZEEL,27-Aug-2020,235.0,PE,0.0,0.0,0.0,71.65,83.35,0,0.0,0,0,10-AUG-2020,NaN
34745,OPTSTK,ZEEL,27-Aug-2020,240.0,PE,0.0,0.0,0.0,75.50,88.35,0,0.0,0,0,10-AUG-2020,NaN

In [8]:
aggregation_dict = {col: 'first' for col in df4.columns}
aggregation_dict['CHG_IN_OI'] = 'max'
df4 = df4.groupby(['SYMBOL'], as_index=True).agg(aggregation_dict)
df4

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
SYMBOL,,,,,,,,,,,,,,,,
ACC,OPTSTK,ACC,27-Aug-2020,800.0,PE,0.00,0.00,0.00,7.60,0.05,0,0.00,0,5500,10-AUG-2020,NaN
ADANIENT,OPTSTK,ADANIENT,27-Aug-2020,82.5,PE,0.00,0.00,0.00,0.35,0.05,0,0.00,0,76000,10-AUG-2020,NaN
ADANIPORTS,OPTSTK,ADANIPORTS,27-Aug-2020,210.0,PE,0.00,0.00,0.00,4.60,0.05,0,0.00,0,15000,10-AUG-2020,NaN
AMARAJABAT,OPTSTK,AMARAJABAT,27-Aug-2020,370.0,PE,0.00,0.00,0.00,4.65,0.05,0,0.00,0,16000,10-AUG-2020,NaN
AMBUJACEM,OPTSTK,AMBUJACEM,27-Aug-2020,132.5,PE,0.00,0.00,0.00,1.65,0.05,0,0.00,0,21000,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UPL,OPTSTK,UPL,27-Aug-2020,240.0,PE,0.00,0.00,0.00,9.85,0.05,0,0.00,0,97500,10-AUG-2020,NaN
VEDL,OPTSTK,VEDL,27-Aug-2020,55.0,PE,0.00,0.00,0.00,1.70,0.05,0,0.00,0,0,10-AUG-2020,NaN
VOLTAS,OPTSTK,VOLTAS,27-Aug-2020,340.0,PE,0.00,0.00,0.00,6.45,0.05,0,0.00,0,22000,10-AUG-2020,NaN
WIPRO,OPTSTK,WIPRO,27-Aug-2020,140.0,PE,0.00,0.00,0.00,1.50,0.05,0,0.00,0,57600,10-AUG-2020,NaN
ZEEL,OPTSTK,ZEEL,27-Aug-2020,100.0,PE,0.35,0.35,0.35,0.35,0.05,3,9.03,9000,54000,10-AUG-2020,NaN

In [9]:
df4.shape

(138, 16)

In [10]:
df4.to_csv('OPTSTK_PE_Stocks.csv')