In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('bhavdata.csv')
df

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,27-Aug-2020,0.0,XX,21851.00,22099.00,21802.00,21956.35,21956.35,217030,1192952.77,1310550,-26050,10-AUG-2020,NaN
1,FUTIDX,BANKNIFTY,24-Sep-2020,0.0,XX,21888.75,22093.10,21807.00,21955.30,21955.30,4557,25044.39,67150,2375,10-AUG-2020,NaN
2,FUTIDX,BANKNIFTY,29-Oct-2020,0.0,XX,21899.95,22100.00,21784.85,21974.10,21974.10,292,1605.30,7750,550,10-AUG-2020,NaN
3,FUTIDX,NIFTY,27-Aug-2020,0.0,XX,11274.95,11334.75,11242.05,11293.35,11293.35,125516,1063750.23,10313625,-35325,10-AUG-2020,NaN
4,FUTIDX,NIFTY,24-Sep-2020,0.0,XX,11262.00,11339.10,11252.95,11301.45,11301.45,6244,52947.72,948825,32175,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34845,OPTSTK,ZEEL,29-Oct-2020,190.0,PE,0.00,0.00,0.00,58.40,45.40,0,0.00,0,0,10-AUG-2020,NaN
34846,OPTSTK,ZEEL,29-Oct-2020,195.0,PE,0.00,0.00,0.00,62.45,49.40,0,0.00,0,0,10-AUG-2020,NaN
34847,OPTSTK,ZEEL,29-Oct-2020,200.0,PE,0.00,0.00,0.00,66.60,53.50,0,0.00,0,0,10-AUG-2020,NaN
34848,OPTSTK,ZEEL,29-Oct-2020,205.0,PE,0.00,0.00,0.00,70.80,57.70,0,0.00,0,0,10-AUG-2020,NaN
34849,OPTSTK,ZEEL,29-Oct-2020,210.0,PE,0.00,0.00,0.00,75.05,61.95,0,0.00,0,0,10-AUG-2020,NaN

In [3]:
df.shape

(34850, 16)

In [4]:
df1 = df[df['INSTRUMENT'].str.contains('FUTSTK')]
df1

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6,FUTSTK,ACC,27-Aug-2020,0.0,XX,1409.65,1412.35,1392.00,1407.55,1407.55,1766,12377.56,2530000,8000,10-AUG-2020,NaN
7,FUTSTK,ACC,24-Sep-2020,0.0,XX,1404.40,1408.30,1404.40,1408.30,1408.30,5,35.14,17000,-500,10-AUG-2020,NaN
8,FUTSTK,ACC,29-Oct-2020,0.0,XX,1400.95,1400.95,1400.95,1400.95,1413.35,1,7.00,1000,500,10-AUG-2020,NaN
9,FUTSTK,ADANIENT,27-Aug-2020,0.0,XX,194.05,198.75,193.10,196.70,196.70,1878,14716.87,18560000,20000,10-AUG-2020,NaN
10,FUTSTK,ADANIENT,24-Sep-2020,0.0,XX,196.35,198.50,195.00,197.40,197.40,8,63.01,120000,4000,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,FUTSTK,WIPRO,24-Sep-2020,0.0,XX,280.60,282.25,279.25,279.45,279.45,17,152.63,281600,3200,10-AUG-2020,NaN
413,FUTSTK,WIPRO,29-Oct-2020,0.0,XX,282.65,282.65,282.40,282.40,279.95,5,45.20,48000,16000,10-AUG-2020,NaN
414,FUTSTK,ZEEL,27-Aug-2020,0.0,XX,150.80,154.90,149.15,152.20,152.20,4338,19804.31,31950000,69000,10-AUG-2020,NaN
415,FUTSTK,ZEEL,24-Sep-2020,0.0,XX,150.65,154.50,149.50,152.55,152.55,103,470.38,699000,84000,10-AUG-2020,NaN
416,FUTSTK,ZEEL,29-Oct-2020,0.0,XX,150.00,154.00,150.00,152.85,152.60,6,27.42,42000,3000,10-AUG-2020,NaN

In [5]:
multisymbols = [
    'ACC',
    'ADANIENT',
    'ADANIPORTS',
    'AMARAJABAT',
    'AMBUJACEM',
    'APOLLOHOSP',
    'APOLLOTYRE',
    'ASHOKLEY',
    'ASIANPAINT',
    'AUROPHARMA',
    'AXISBANK',
    'BAJAJ-AUTO',
    'BAJAJFINSV',
    'BAJFINANCE',
    'BALKRISIND',
    'BANDHANBNK',
    'BANKBARODA',
    'BATAINDIA',
    'BEL',
    'BERGEPAINT',
    'BHARATFORG',
    'BHARTIARTL',
    'BHEL',
    'BIOCON',
    'BOSCHLTD',
    'BPCL',
    'BRITANNIA',
    'CADILAHC',
    'CANBK',
    'CENTURYTEX',
    'CHOLAFIN',
    'CIPLA',
    'COALINDIA',
    'COLPAL',
    'CONCOR',
    'CUMMINSIND',
    'DABUR',
    'DIVISLAB',
    'DLF',
    'DRREDDY',
    'EICHERMOT',
    'EQUITAS',
    'ESCORTS',
    'EXIDEIND',
    'FEDERALBNK',
    'GAIL',
    'GLENMARK',
    'GMRINFRA',
    'GODREJCP',
    'GODREJPROP',
    'GRASIM',
    'HAVELLS',
    'HCLTECH',
    'HDFC',
    'HDFCBANK',
    'HDFCLIFE',
    'HEROMOTOCO',
    'HINDALCO',
    'HINDPETRO',
    'HINDUNILVR',
    'IBULHSGFIN',
    'ICICIBANK',
    'ICICIPRULI',
    'IDEA',
    'IDFCFIRSTB',
    'IGL',
    'INDIGO',
    'INDUSINDBK',
    'INFRATEL',
    'INFY',
    'IOC',
    'ITC',
    'JINDALSTEL',
    'JSWSTEEL',
    'JUBLFOOD',
    'KOTAKBANK',
    'L&TFH',
    'LICHSGFIN',
    'LT',
    'LUPIN',
    'M&M',
    'M&MFIN',
    'MANAPPURAM',
    'MARICO',
    'MARUTI',
    'MCDOWELL-N',
    'MFSL',
    'MGL',
    'MINDTREE',
    'MOTHERSUMI',
    'MRF',
    'MUTHOOTFIN',
    'NATIONALUM',
    'NAUKRI',
    'NESTLEIND',
    'NIITTECH',
    'NMDC',
    'NTPC',
    'ONGC',
    'PAGEIND',
    'PEL',
    'PETRONET',
    'PFC',
    'PIDILITIND',
    'PNB',
    'POWERGRID',
    'PVR',
    'RAMCOCEM',
    'RBLBANK',
    'RECLTD',
    'RELIANCE',
    'SAIL',
    'SBILIFE',
    'SBIN',
    'SHREECEM',
    'SEIMENS',
    'SRF',
    'SRTRANSFIN',
    'SUNPHARMA',
    'SUNTV',
    'TATACHEM',
    'TATACONSUM',
    'TATAMOTORS',
    'TATAPOWER',
    'TATASTEEL',
    'TCS',
    'TECHM',
    'TITAN',
    'TORNTPHARM',
    'TORNTPOWER',
    'TVSMOTOR',
    'UBL',
    'UJJIVAN',
    'ULTRACEMCO',
    'UPL',
    'VEDL',
    'VOLTAS',
    'WIPRO',
    'ZEEL' 
    ]
df2 = df1[df['SYMBOL'].isin(multisymbols)]
df2

<ipython-input-5-a3f2579ea4a1>:142: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df1[df['SYMBOL'].isin(multisymbols)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6,FUTSTK,ACC,27-Aug-2020,0.0,XX,1409.65,1412.35,1392.00,1407.55,1407.55,1766,12377.56,2530000,8000,10-AUG-2020,NaN
7,FUTSTK,ACC,24-Sep-2020,0.0,XX,1404.40,1408.30,1404.40,1408.30,1408.30,5,35.14,17000,-500,10-AUG-2020,NaN
8,FUTSTK,ACC,29-Oct-2020,0.0,XX,1400.95,1400.95,1400.95,1400.95,1413.35,1,7.00,1000,500,10-AUG-2020,NaN
9,FUTSTK,ADANIENT,27-Aug-2020,0.0,XX,194.05,198.75,193.10,196.70,196.70,1878,14716.87,18560000,20000,10-AUG-2020,NaN
10,FUTSTK,ADANIENT,24-Sep-2020,0.0,XX,196.35,198.50,195.00,197.40,197.40,8,63.01,120000,4000,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,FUTSTK,WIPRO,24-Sep-2020,0.0,XX,280.60,282.25,279.25,279.45,279.45,17,152.63,281600,3200,10-AUG-2020,NaN
413,FUTSTK,WIPRO,29-Oct-2020,0.0,XX,282.65,282.65,282.40,282.40,279.95,5,45.20,48000,16000,10-AUG-2020,NaN
414,FUTSTK,ZEEL,27-Aug-2020,0.0,XX,150.80,154.90,149.15,152.20,152.20,4338,19804.31,31950000,69000,10-AUG-2020,NaN
415,FUTSTK,ZEEL,24-Sep-2020,0.0,XX,150.65,154.50,149.50,152.55,152.55,103,470.38,699000,84000,10-AUG-2020,NaN
416,FUTSTK,ZEEL,29-Oct-2020,0.0,XX,150.00,154.00,150.00,152.85,152.60,6,27.42,42000,3000,10-AUG-2020,NaN

In [6]:
#Change according to liking
#Get a single date or a specific date
dates = ["27-Aug-2020"] 
df3 = df2[df['EXPIRY_DT'].isin(dates)]
df3

<ipython-input-6-92cf25ff67a9>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[df['EXPIRY_DT'].isin(dates)]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6,FUTSTK,ACC,27-Aug-2020,0.0,XX,1409.65,1412.35,1392.00,1407.55,1407.55,1766,12377.56,2530000,8000,10-AUG-2020,NaN
9,FUTSTK,ADANIENT,27-Aug-2020,0.0,XX,194.05,198.75,193.10,196.70,196.70,1878,14716.87,18560000,20000,10-AUG-2020,NaN
12,FUTSTK,ADANIPORTS,27-Aug-2020,0.0,XX,329.95,334.90,326.15,332.20,332.20,2739,22736.64,31685000,-220000,10-AUG-2020,NaN
15,FUTSTK,AMARAJABAT,27-Aug-2020,0.0,XX,728.95,755.95,712.15,753.05,753.05,3630,26888.02,1506000,193000,10-AUG-2020,NaN
18,FUTSTK,AMBUJACEM,27-Aug-2020,0.0,XX,221.75,223.90,219.90,222.65,222.65,1368,9113.76,17400000,3000,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,FUTSTK,UPL,27-Aug-2020,0.0,XX,479.55,491.90,473.50,489.75,489.75,8731,55184.35,12563200,-999700,10-AUG-2020,NaN
405,FUTSTK,VEDL,27-Aug-2020,0.0,XX,123.30,126.50,122.25,125.55,125.55,531,4095.45,122505800,-3267400,10-AUG-2020,NaN
408,FUTSTK,VOLTAS,27-Aug-2020,0.0,XX,599.05,599.35,586.20,589.05,589.05,2390,14157.75,3094000,277000,10-AUG-2020,NaN
411,FUTSTK,WIPRO,27-Aug-2020,0.0,XX,280.35,281.90,278.25,278.95,278.95,1624,14550.27,23097600,297600,10-AUG-2020,NaN
414,FUTSTK,ZEEL,27-Aug-2020,0.0,XX,150.80,154.90,149.15,152.20,152.20,4338,19804.31,31950000,69000,10-AUG-2020,NaN

In [7]:
#Filters out all the Values of only XX
df4 = df3[df['OPTION_TYP'].str.contains("XX")]
df4

<ipython-input-7-e8d24c8f396f>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df4 = df3[df['OPTION_TYP'].str.contains("XX")]

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
6,FUTSTK,ACC,27-Aug-2020,0.0,XX,1409.65,1412.35,1392.00,1407.55,1407.55,1766,12377.56,2530000,8000,10-AUG-2020,NaN
9,FUTSTK,ADANIENT,27-Aug-2020,0.0,XX,194.05,198.75,193.10,196.70,196.70,1878,14716.87,18560000,20000,10-AUG-2020,NaN
12,FUTSTK,ADANIPORTS,27-Aug-2020,0.0,XX,329.95,334.90,326.15,332.20,332.20,2739,22736.64,31685000,-220000,10-AUG-2020,NaN
15,FUTSTK,AMARAJABAT,27-Aug-2020,0.0,XX,728.95,755.95,712.15,753.05,753.05,3630,26888.02,1506000,193000,10-AUG-2020,NaN
18,FUTSTK,AMBUJACEM,27-Aug-2020,0.0,XX,221.75,223.90,219.90,222.65,222.65,1368,9113.76,17400000,3000,10-AUG-2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,FUTSTK,UPL,27-Aug-2020,0.0,XX,479.55,491.90,473.50,489.75,489.75,8731,55184.35,12563200,-999700,10-AUG-2020,NaN
405,FUTSTK,VEDL,27-Aug-2020,0.0,XX,123.30,126.50,122.25,125.55,125.55,531,4095.45,122505800,-3267400,10-AUG-2020,NaN
408,FUTSTK,VOLTAS,27-Aug-2020,0.0,XX,599.05,599.35,586.20,589.05,589.05,2390,14157.75,3094000,277000,10-AUG-2020,NaN
411,FUTSTK,WIPRO,27-Aug-2020,0.0,XX,280.35,281.90,278.25,278.95,278.95,1624,14550.27,23097600,297600,10-AUG-2020,NaN
414,FUTSTK,ZEEL,27-Aug-2020,0.0,XX,150.80,154.90,149.15,152.20,152.20,4338,19804.31,31950000,69000,10-AUG-2020,NaN

In [8]:
df4.shape

(138, 16)

In [9]:
df4.to_csv('FUTSTK_Stocks.csv')